<div class="background">
  <div class="container">
    <div class="row">
      <div class="col centre">
        <div class="login-signup_box">
          <%= form_with model: @task, local: true do |f| %>
          <h2>タスク新規登録</h2><br><br>
            <h4>タスク名前<br><br><%= f.text_field :title, class: "form-control", autofocus: true, placeholder: "タスク名前" %></h4><br><br>
            <h4>タスク詳細<br><br><%= f.text_field :body, class: "form-control", autofocus: true, placeholder: "タスク詳細" %></h4><br><br><br>
            <%= f.submit '追加', class: "btn btn-success w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

