<div class="background">
  <div class="container">
    <div class="row">
      <div class="col centre">
        <div class="box">
          <h2>タスク内容</h2><br><br>
          <h4>タスク名前<br><br><%= @task.title %></h4><br><br>
          <h4>タスク詳細<br><br><%= @task.body %></h4><br><br><br>
          <%= link_to "編集", edit_task_path, class: "btn btn-success w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>