<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>本日のタスク一覧</h5>

    <P>-----------------------------------------</P>

    <p><%= @user.name %>様おはようございます。</p>

    <p>夢に向かってがんばりましょう。</p>

    <% @goal.tasks.each do |task| %>
      <p><%= task.title %><br><%= task.body %></p>
    <% end %>

    <p>-----------------------------------------</p>
  </body>
</html>
