<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <%= @user.name %>様おはようございます。<br>
      今日のタスク一覧です。<br>
      夢に向かってがんばりましょう。<br>
      <br>
      <% @goal.tasks.each do |task| %>
        <%= task.title %>
        <%= task.body %>
      <% end %>
      </h1>
  </body>
</html>
