<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      おはようございます。<br>
      今日のタスク一覧です。<br>
      夢に向かってがんばりましょう。<br>
      <%= @user.name %>
      <% @goal.tasks.each do |task| %>
        <h3><%= task.title %></h3><br>
        <%= task.body %>
      <% end %>
      </h1>
    
  </body>
</html>
