<div class='nested-fields'>

    <div class="field">
      <%= f.text_field :title, class: "form-control", autofocus: true, placeholder: "タスク名前" %>
    </div>
    <div class="field">
      <%= f.text_area :boby, class: "form-control", autofocus: true, placeholder: "タスク詳細" %>
    </div>
    <%= link_to_remove_association "remove task", f %>
</div>