<div id="task_form">
  <div class="input"><%= f.text_field :title, class: "form-control", autofocus: true, placeholder: "タスク名前" %></div>
  <div class="input"><%= f.text_field :boby, class: "form-control", autofocus: true, placeholder: "タスク詳細"  %></div>
</div>