<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      おはようございます。<br>
      今日のタスク一覧です。<br>
      夢に向かってがんばりましょう。<br>
      <%= @user.name %>
      <%= @dream %>
      </h1>
  </body>
</html>
