<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      おはようございます。<br>
      最近ログインがないようですね。<br>
      <%= @user.name %>様<br>
      「<%= @dream %>」この夢を叶えるために始めたアプリじゃないんですか
      </h1>
  </body>
</html>
