<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>夢を持つあなたへ</h5>

    <P>-----------------------------------------</P>

    <p><%= @user.name %>様おはようございます。</p>

    <p>最近ログインがないようですね。</p>

    <p>このアプリを始めた頃に入力して頂いた、<p>

    </p>あなたの夢をお送りいたします。</p>

    <p><%= @dream %></p>

    <P>-----------------------------------------</P>
  </body>
</html>
