/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header {
    height: 70px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

main {
    min-height: 800px; //最低限の高さを設定
}
.clear-blue {
    height: 8vw;
    width: 100%;
    background-color: #b0c4de;
}

.top-box1 {
    height: 50vw;
    width: 100%;
    background-image: image-url("/assets/top1.png");
    background-size: cover;
}

.top-box2 {
    height: 50vw;
    width: 100%;
    background-image: image-url("/assets/top2.png");
    background-size: cover;
}

.top-box3 {
    height: 50vw;
    width: 100%;
    background-image: image-url("/assets/top3.png");
    background-size: cover;
}

.top-box4 {
    height: 50vw;
    width: 100%;
    background-image: image-url("/assets/top4.png");
    background-size: cover;
}

.top-box5 {
    height: 50vw;
    width: 100%;
    background-image: image-url("/assets/top5.png");
    background-size: cover;
}

.top-box6 {
    height: 55vw;
    width: 100%;
    background-image: image-url("/assets/top6.png");
    background-size: cover;
}

.centre {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.login-signup_box {
    margin: 4%;
    padding: 8% 15%;
    border-radius: 6px;
    background-color: #ffffff;
}

.background {
    background-color: #b0c4de;
}

/* フレンド */
.user-card {
    float: left;
    width: 305px;
    height: 280px;
    border: 1px #ccc solid;
}