/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// 全般
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//フラッシュアラート
.alert {
    margin-bottom: 0;
    background: #ADD8E6;
}

//ヘッダー
header {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar-header {
    display: flex;
}

.navbar-nav-list {
    display: block;
}

.header_logo {
    background-image: image-url("header_logo.png");
}

.header_logo_size {
    display: flex;
    flex-direction: column;
    width: 10%;
}

//メイン
main {
    min-height: 800px; //最低限の高さを設定
    background-color: #b0c4de;
}

// トップ隙間
.clear-blue {
    height: 8vw;
    width: 100%;
    background-color: #b0c4de;
}

//トップ写真
.top-box1 {
    height: 50vw;
    width: 100%;
    background-image: image-url("top1.png");
    background-size: cover;
}

.top-box2 {
    height: 50vw;
    width: 100%;
    background-image: image-url("top2.png");
    background-size: cover;
}

.top-box3 {
    height: 50vw;
    width: 100%;
    background-image: image-url("top3.png");
    background-size: cover;
}

.top-box4 {
    height: 50vw;
    width: 100%;
    background-image: image-url("top4.png");
    background-size: cover;
}

.top-box5 {
    height: 50vw;
    width: 100%;
    background-image: image-url("top5.png");
    background-size: cover;
}

.top-box6 {
    height: 55vw;
    width: 100%;
    background-image: image-url("top6.png");
    background-size: cover;
}

//センター統一
.centre {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

//ボックス
.box {
    margin: 10px;
    padding: 8% 15%;
    border-radius: 6px;
    background-color: #ffffff;
}

.box-goal {
    // margin: 1px;
    // padding: 100% 100%;
    // border-radius: 1px;
    // background-color: #ffffff;
}

//フレンドボックス
.friend-box {
    width: 100%;
}

.line {
    display: flex;
    flex-wrap: wrap;
    .line-box {
        width: 100%;
        margin: 10% 0;
        padding: 10% 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 5px #ccc solid;
    }
}

.background {
    background-color: #b0c4de;
}

//応援数
p.cheering-count {
    font-size: 30px;

    span {
        font-size: 50px;
    }
}

//コメント
.comment {
    .comment-title {
        p {
            font-size: 30px;
        }
    }

    .comment-list {
        .comment-list-child {
            display: flex;
            align-items: center;
        }
    }
}