<footer style="height:100px;" class="text-center fiexed-bottom">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <p class="mb-0">Copyright © FOCUS All Rights Reserved.</p>
  </div>
</footer>
